@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">EmpQuestHub</h1>
    <p>Unlock the full potential of your team with empQuestHub – the innovative platform designed to foster a culture of curiosity and collaboration within your organization. Our app empowers you to create, share, and answer employee questions, fostering a dynamic and engaged workforce.</p>
</div>
