@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This locally hosted page does not collect personally identifiable information unless explicitly provided by the user. We may gather non-personal information such as IP addresses and usage data for statistical purposes to enhance our services. Your information is not sold, shared, or distributed to third parties unless required by law. While security is not a major concern given the local server setup, we take reasonable measures to protect your data. Cookies may be used for improved user experience, and links to third-party websites are beyond our control, requiring users to review their respective privacy policies. This Privacy Policy may be updated, and users are encouraged to check periodically for any changes. If you have questions, please contact us at </p>
